<footer>
    <br>
    <div class="footer-container">
        <div class="footer-links links">
            <h3>Links utiles:</h3>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Medios de pago</a></li>
                <li><a href="#">Donde encontrarnos</a></li>
            </ul>
        </div>
        <div class="footer-redes redes">
            <h3>Nuestras redes:</h3>
                <a href="#"><span class="fa fa-facebook"></span></a>
                <a href="#"><span class="fa fa-twitter"></span></a>
                <a href="#"><span class="fa fa-instagram"></span></a>
        </div> <!-- <img src="/img/logo_sin_fondo.png" alt=""> -->
        <div class="footer-logo logo">
            <a href="/"><img src="../../imgs/logo_sin_fondo.png" alt="footer-logo"></a>
        </div>
        <div class="footer-copyright copyright">
            Copyright Mis Pollitos - 2022. Todos los derechos reservados.
        </div>
        <div class="footer-nuevo-cliente cliente">
            <i class="fa fa-mobile"><span> ¡HACETE CLIENTE!</span></i>
        </div>
        <div class="null"></div>
    </div>
</footer>