<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <header style="text-align: center; color: green; font-size: 48px">Header de esta prueba</header>
    <main>Bienvenido usuario <%- user.name%> <%-user.last_name %></main>
    <footer style="text-align: center; color: green; font-size: 48px">Footer de esta prueba</footer>
</body>
</html>